Example invocations:
  {{blue}}./droopescan.py scan drupal -u URL_HERE
  ./droopescan.py scan silverstripe -u URL_HERE{{endc}}

More info:
  {{blue}}./droopescan.py scan --help{{endc}}

Please see the README file for information regarding proxies.
