Example invocations: {{#color}}{{blue}}{{/color}}
  droopescan scan drupal -u URL_HERE
  droopescan scan silverstripe -u URL_HERE
{{#color}}{{endc}}{{/color}}
More info: {{#color}}{{blue}}{{/color}}
  droopescan scan --help
{{#color}}{{endc}}{{/color}} 
Please see the README file for information regarding proxies.
